<%-include('./partials/head.ejs') %>
<body>
    <%-include('./partials/header.ejs') %>
    <main>
        <img class="icono-fijo" src="/images/icon-whasap2.png" alt="">
        <section class="section_productos">
            <h3 class="titulo-carrusel">NOVEDADES</h3>
            <article class="carrusel"> 
            <!-- se aplico logica de js para mostrar las imagen en el carrusel    -->
            <% let contadorCarrusel = 0;%>
            <% productos.forEach(producto => {%>
                <% if (contadorCarrusel < 3) {%>
                    <img src="/images/<%= producto.imagen %>" alt="">
                    <% contadorCarrusel++;%>
                <%} %> 
                <%});%>
                
            </article>
            <h3 class="titulo-carrusel">ARTICULOS</h3>

            <article class="container-articulos">
<!--se utilizo un contador para limitar el numero de imagenes que se desean mostrar en el home-->
                <% let contador = 0;%>
<!-- se uso un forEach para recorrer el array y mostrar todos los elementos con los metodos solicitados-->
                <% productos.forEach(producto => {%>
                        <% if (contador < 4) {%>
                            <article class="article_productos">
                                <a class="main-enlace" href="/products/productDetail/1">
                                    
                                        <img class="imagen-producto" src="/images/<%= producto.imagen %>" alt="foto-producto">
                                        <p class="p-detalle-producto"><%= producto.categoriajh %></p>
                                        <p class="p-detalle-producto"><%= producto.marca %></p>
                                        <p class="p-detalle-producto"><%= producto.modelo %></p>
                                        <p class="h3-precio">$<%= producto.precio %></p>
                                    
                                </a>
                            </article>
                <% contador++;%>
                       <% }%>
                    <%})%>
            </article>
            
            <h3 class="titulo-carrusel">VER MAS</h3>
            <article class="article_publicidad">

                <% publicidad.forEach(element => {%>
                    <img class="imagen_publicidad" src="/images/<%= element.imagen %>" alt="logo publicidad">
                <%}); %>

            </article>
        </section>
    </main>
    <%-include('./partials/footer.ejs') %>
</body>
</html>



