<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/header.ejs') %>
            <main>
                <img class="icono-fijo" src="/images/icon-whasap2.png" alt="">
                <section class="section_productos">
                    <h3 class="titulo-carrusel">NOVEDADES</h3>
                    <article class="slider">
                        <div class="slide-track">
                            <div class="slide">
                                <img src="/images/estabilizador 1.png" alt="">
                            </div>
                            <div class="slide">
                                <img src="/images/estabilizador3.png" alt="">
                            </div>
                            <div class="slide">
                                <img src="/images/estabilizador4.png" alt="">
                            </div>
                            <div class="slide">
                                <img src="/images/ups_img.jpg" alt="">
                            </div>
                            <div class="slide">
                                <img src="/images/ups6kva_img.jpg" alt="">
                            </div>
                            <div class="slide">
                                <img src="/images/estabilizador 1.png" alt="">
                            </div>
                            <div class="slide">
                                <img src="/images/estabilizador3.png" alt="">
                            </div>
                            <div class="slide">
                                <img src="/images/estabilizador4.png" alt="">
                            </div>
                            <div class="slide">
                                <img src="/images/ups_img.jpg" alt="">
                            </div>
                            <div class="slide">
                                <img src="/images/ups6kva_img.jpg" alt="">
                            </div>
                        </div>
                    </article>

                    <h3 class="titulo-carrusel">ARTICULOS</h3>

                    <article class="container-articulos">
                        <!--se utilizo un contador para limitar el numero de imagenes que se desean mostrar en el home-->
                        <% let contador=0 %>
                            <!-- se uso un forEach para recorrer el array y mostrar todos los elementos con los metodos solicitados-->
                            <% productos.forEach(producto=> {%>
                                
                                <% if (contador < 10) {%>
                                    <% for(x=0; x<producto.imagenes.length; x=producto.imagenes.length) { %>
                                        <article class="article_productos article_listProducts">
                                            <a class="main-enlace main_listProducts" href="/products/productDetail/<%= producto.id %>">
                                                <div class="box-image-listProducts">
                                                <% for(x=0; x<producto.imagenes.length; x=producto.imagenes.length) { %>
                                                    <img class="image-listProducts" src="<%= producto.imagenes[0].ubicacion%>/<%= producto.imagenes[0].nombre %>"
                                                    alt="Imagen Publicidad">
                                                <% } %>
                                                </div>
                                                <div class="products_list">
                                                    <% if (producto.descuento > 0) { %>
                                                        <p class="products_list_precio">
                                                            $<%= (producto.precio) - ((producto.precio * producto.descuento) / 100) %>
                                                        </p>
                                                        <p class="products_list_precio-off"><%= "$" + producto.precio %></p>
                                                        <p class="products_list_descuento"><%= producto.descuento + "% OFF" %></p>
                                                        <% } else { %>
                                                        <p class="products_list_precio">$<%= producto.precio %></p>
                                                        <% } %>
                                                        <p class="products_list_marca"><%= producto.marcas.marca %> <%= producto.modelo %></p>
                                                        <p class="products_list_categoria"> Categoría: <%= producto.categorias.categoria %></p>
                                                </div>
                                            </a>
                                        </article>
                                    <% } %>
                                    
                                <% }%>
                                <% contador++ %>
                            <%})%>
                    </article>

                    <a href="products/productsList/">
                        <h3 class="titulo-carrusel">VER MAS</h3>
                    </a>
                    

                    <article class="article_publicidad">
                        <% publicidad.forEach(element=> {%>
                            <img class="imagen_publicidad" src="/images/<%= element.imagen %>" alt="logo publicidad">
                            <%}); %>
                    </article>
                    
                </section>
            </main>
            <%- include('./partials/footer.ejs') %>
    </body>

    </html>