<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/header.ejs') %>
            <main class="dashboard_main">
                                
                <div class="dashboard_box_search-add">
                    <a href="/products/dashboard"><button class="dashboard_add">Dashboard</button></a>
                    <div class="dashboard_search">
                        <form action="/products/dashboard/search" method="GET">
                            <input type="text" name="keywords" placeholder="Buscar producto">
                            <button type="submit"><i class="fas fa-search"></i></button>
                        </form>
                    </div>
                    <a href="/products/formCreate"><button class="dashboard_add">+ Agregar Producto</button></a>
                </div>

                <section class="dashboard_section">
                    <% if (result.length > 0) {%>                   
                    <% result.forEach(producto => {%>
                        <article class="dashboard_article">
                            <div class="dashboard_div_img">
                                <% for(x=0; x<producto.imagenes.length; x=producto.imagenes.length) { %>
                                    <img src="<%= producto.imagenes[0].ubicacion%>/<%= producto.imagenes[0].nombre %>" alt="Imagen Publicidad">
                                <% } %>
                            </div>
                            <div class="dashboard_div_texto">
                                <h2>Modelo: <%= producto.modelo%></h2>
                                <h3>Marca: <%= producto.marcas.marca%></h3>
                                <h4>Categoria: <%= producto.categorias.categoria%></h4>
                                <p><%= producto.descripcion%></p>
                                <h4>Potencia: <%= producto.potencia%></h4>
                                <h4>Tomas: <%= producto.tomas%></h4>
                                <h4>Precio: <%= producto.precio%></h4>
                                <h4>Descuento: <%= producto.descuento%></h4>
                                <h4>Stock: <%= producto.stock%></h4>
                            </div>
                            <div class="dashboard_div_botones">
                                <a href="/products/formUpdate/<%= producto.id%>"><button>Modificar</button></a>
                            </div>
                        </article>
                <% })%>
                    <% } else {%>
                             <h2><%= mensaje %></h2>
                        <% }%>  
                
                </section>

            </main>
            <%- include('../partials/footer.ejs') %>
    </body>
</html>