<%- include('../partials/head.ejs') %>

<body>
    <%- include('../partials/header.ejs') %>
    <main class="dashboard_main">
        

        <section class="dashboard_section">
            <% productos.forEach(producto => {%>
            <article class="dashboard_article">
                <div class="dashboard_div_img">
                    <% for(x=0; x<producto.imagenes.length; x=producto.imagenes.length) { %>
                    <img src="<%= producto.imagenes[0].ubicacion%>/<%= producto.imagenes[0].nombre %>"
                        alt="Imagen Publicidad">
                    <% } %>
                </div>
                <div class="dashboard_div_texto">
                    <h2>Modelo: <%= producto.modelo%></h2>
                    <h3>Marca: <%= producto.marcas.marca%></h3>
                    <h4>Categoria: <%= producto.categorias.categoria%></h4>
                    <p><%= producto.descripcion%></p>
                    <h4>Potencia: <%= producto.potencia%></h4>
                    <h4>Tomas: <%= producto.tomas%></h4>
                    <h4>Precio: $ <%= producto.precio%></h4>
                    <h4>Descuento: <%= producto.descuento ? producto.descuento : 0 %>%</h4>
                    <h4>Stock: <%= producto.stock%></h4>
                </div>
            </article>
            <% })%>
        </section>

    </main>
    <%- include('../partials/footer.ejs') %>
</body>

</html>
