<%-include('../partials/head.ejs') %>
<body>
    <%-include('../partials/header.ejs') %>
    <main>
        <form action="/products/update/<%=productToEdit.id%>?_method=PUT"  method="POST"  class="form_create" enctype="multipart/form-data">
            <div class="div_config div_form_product">
                <label for="modelo" id="modelo" class="div_config_label">Modelo</label>
                <input type="text"  name="modelo" value="<%= productToEdit.modelo %>">
            </div>
            <div class="div_config">
                <label for="marca" id="marca">Marca</label>
                <input type="text"  name="marca" value="<%= productToEdit.marca %>">
            </div>
            <div class="div_config">
                <label for="categoria" id="categoria">Categoria</label>
                <select name="categoria"  id="categoria" class="div_config">
                    <option value="" <%= productToEdit.categoria == "" ? "selected" :null %>>Elegi una Opcion</option>
                    <option value="UPS" <%= productToEdit.categoria == "UPS" ? "selected" :null %>>UPS</option>
                    <option value="Estabilizadores" <%= productToEdit.categoria == "Estabilizadores" ? "selected" :null %>>ESTABILIZADORES</option>
                </select>
            </div>
            <div class="div_config">
                <label for="descripcion" id="descripcion">Descripcion</label>
                <textarea name="descripcion" id="descripcion"  cols="60" rows="20"><%= productToEdit.descripcion %></textarea>
            </div>
            <div class="div_config">
                <label for="potencia" id="potencia">Potencia</label>
                <input type="number"  name="potencia" value="<%= productToEdit.potencia %>" >
            </div>
            <div class="div_config">
                <label for="tomas" id="tomas">Cantidad de tomas</label>
                <input type="number"  name="tomas" value="<%= productToEdit.tomas %>" >
            </div>
            <div class="div_config">
                <label for="precio" id="precio">Precio</label>
                <input type="number"  name="precio" value="<%= productToEdit.precio %>" >
            </div>
            <div class="div_config">
                <label for="descuento" id="descuento">Descuento</label>
                <input type="number"  name="descuento" value="<%= productToEdit.descuento %>">
            </div>
            <div class="div_config">
                <label for="stock" id="stock">Stock</label>
                <input type="number"  name="stock" value="<%= productToEdit.stock %>">
            </div>
            <div class="div_config">
                <label for="imagenes" id="imagenes">Seleccione una imagen</label>
                <input type="file"  name="imagenes" multiple>
            </div>
       
            <div class="boton_registro_update ">
                <button type="submit">Editar Producto</button>
            
            
    </form>
                 <form action="/products/delete/<%=productToEdit.id%>?_method=DELETE" method="POST">
                    <button type="submit">Eliminar </button>
                </form>
            </div> 
    </main>
    <%-include('../partials/footer.ejs') %>
</body>
</html>   