<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/header.ejs') %>
            <main>
                <article class="article_form_create">
                    <div class="subtitulo_registrate">
                        <p id="p_registro">Editar Producto</p>
                    </div>    
                <form action="/products/update/<%=producto.id%>?_method=PUT" method="POST" class="form_create"
                    enctype="multipart/form-data">
                    <div class="div_config div_form_product" id="div_id_categorias">
                        <label for="id_categorias">Categoría</label>
                        <select name="id_categorias" id="id_categorias" class="campo_select">
                            <option value="" selected>Elegí una Categoría</option>
                            <option value="1" <%=producto && producto.categorias && producto.categorias.id=='1'
                                ? 'selected' : null %>>UPS</option>
                            <option value="2" <%=producto && producto.categorias && producto.categorias.id=='2'
                                ? 'selected' : null %>>Estabilizadores</option>
                        </select>
                    </div>
                    <div class="div_config div_form_product" id="div_id_marcas">
                        <label for="id_marcas">Elegí una Marca</label>
                        <select name="id_marcas" id="id_marcas" class="campo_select">
                            <option value="" selected>Elegí una Marca</option>
                            <option value="1" <%=producto && producto.marcas && producto.marcas.id=='1' ? 'selected' :
                                null %>>Lyonn</option>
                            <option value="2" <%=producto && producto.marcas && producto.marcas.id=='2' ? 'selected' :
                                null %>>APC</option>
                            <option value="3" <%=producto && producto.marcas && producto.marcas.id=='3' ? 'selected' :
                                null %>>Eaton</option>
                            <option value="4" <%=producto && producto.marcas && producto.marcas.id=='4' ? 'selected' :
                                null %>>Athom</option>
                            <option value="5" <%=producto && producto.marcas && producto.marcas.id=='5' ? 'selected' :
                                null %>>TRV</option>
                            <option value="6" <%=producto && producto.marcas && producto.marcas.id=='6' ? 'selected' :
                                null %>>Forza</option>
                        </select>
                    </div>
                    <div class="div_config div_form_product" id="div_modelo">
                        <label for="modelo" class="div_config_label">Modelo</label>
                        <input type="text" name="modelo" id="modelo" value="<%= producto && producto.modelo %>">
                    </div>
                    <div class="div_config div_form_product" id="div_descripcion">
                        <label for="descripcion">Descripción</label>
                        <textarea name="descripcion" id="descripcion" rows="10" cols="20" maxlength="500" ><%= producto && producto.descripcion %>
                        </textarea>
                    </div>
                    <div class="div_config div_form_product" id="div_potencia">
                        <label for="potencia">Potencia</label>
                        <input type="number" name="potencia" id="potencia" value="<%= producto && producto.potencia %>">
                    </div>
                    <div class="div_config div_form_product" id="div_tomas">
                        <label for="tomas">Cantidad de tomas</label>
                        <input type="number" name="tomas" id="tomas" value="<%= producto && producto.tomas %>">
                    </div>
                    <div class="div_config div_form_product" id="div_precio">
                        <label for="precio">Precio</label>
                        <input type="number" name="precio" id="precio" value="<%= producto && producto.precio %>">
                    </div>
                    <div class="div_config div_form_product" id="div_descuento">
                        <label for="descuento">Descuento</label>
                        <input type="number" name="descuento" id="descuento"
                            value="<%= producto && producto.descuento %>">
                    </div>
                    <div class="div_config div_form_product" id="div_stock">
                        <label for="stock">Stock</label>
                        <input type="number" name="stock" id="stock" value="<%= producto && producto.stock %>">
                    </div>
                    <div class="div_config div_form_product" id="div_imagen">
                        <label for="imagen">Imagen actual</label>
                        <img src="/images/products/<%= producto && producto.imagenes && producto.imagenes.length > 0 ? producto.imagenes[0].nombre : 'default.jpg' %>"
                            alt="Imagen del producto" class="centered-img_producto">
                    </div>
                    <div class="div_config div_form_product" id="div_modificar_imagen">
                        <label for="modificar_imagen">Modificar imagen</label>
                        <input type="file" name="modificar_imagen" id="modificar_imagen" multiple>
                    </div>
                    <div class="boton_registro_create">
                        <button type="submit" id="button-submit">Actualizar Producto</button>
                    </div>
                </form>
            </article>
            </main>

            <script src="/javascripts/validations-Form-EditProduct.js"></script>

            <%- include('../partials/footer.ejs') %>
    </body>

    </html>