<%-include("../partials/head.ejs") %>

<body>
    <%-include("../partials/header.ejs") %>
    <main>
        <section class="main_caja_padre_compra">
            <h1 class="titulo_carrito">Carrito</h1>
            <section class="main_caja_hija_detalle_compra">
            <%  productos.forEach(producto => { %>    
                <article class="fondo_de_articulo">
                    <% for(x=0; x<producto.imagenes.length; x=producto.imagenes.length) { %>
                        <img src="<%= producto.imagenes[0].ubicacion%>/<%= producto.imagenes[0].nombre %>" alt="Imagen Publicidad">
                    <% } %>
                    <p class="carrito_p-detalle-producto"><%= producto.descripcion %></p>
                    <h3 class="carrito_h3-precio">$<%= producto.precio %></h3>
                    <div class="div_contador">
                        <div class="div_contador_icons">
                            <div>
                                <button class="boton_sumador"><i class="fa-solid fa-plus"></i></button>
                                <input type="number" name="contador_del_producto" min="0" max="1000" class="imput_contador">
                                <button class="boton_de_resta"><i class="fa-solid fa-minus"></i></button>
                            </div>
                            <i class="fa-solid fa-trash icon_tacho"></i>
                        </div>
                        <h3 class="precio"> $ 50.000</h3>
                    </div>     
                </article>
            <% }) %>
            </section>
            <section class="main_caja_hija_detalle_articulos">
                <article class="border_de_la_caja">
                    <div>
                        
                    </div>

                    <div  class="listado_de_articulo_precios">
                        <h3 class="subtotal"> Subtotal </h3>
                        <h3 class="sub-precio">$<%= data.subtotal %></h3>
                        <h3 class="transporte">Transporte</h3>
                        <h3 class="transporte">Envio gratis</h3>
                        <h3 class="condiciones">Impuestos (IVA)</h3>
                        <h3 class="transporte">$<%= data.impuestos %></h3>
                        <div class="border">
                        <h3 class="total">TOTAL</h3>
                        <h3 class="sub-precio_1">$<%= data.total %></h3>
                        </div>
                        
                    </div>
                    <div>
                        <button class="boton_finalizar_compra" >finalizar compra </button>

                    </div>
                </article>    
            </section>
            <a href="/" class="boton_continuar_comprando">
                <i class="fa-solid fa-house"> </i>
                <h3>Continuar comprando</h3>
            </a>
        </section>
        <h3 class="advertencia_texto tamaño_de_texto">¡El pedido solo se confirmará al hacer click en el botón 'Pedido con
                obligación de pago' en la última
                parte del proceso de compra!
        </h3>
        <div class="centrar_el_botonon">
            <button class="boton_imprimir_pdf">Imprimir carrito en PDF</button>
        </div>
    </main>
    <%-include("../partials/footer.ejs") %>

</html>