<%-include('../partials/head.ejs') %>

  <body>
    <%-include('../partials/header.ejs') %>
      <main>
        <article class="container-articulos">
          <% productos.forEach(producto=> { %>
            <article class="article_productos article_listProducts">
              <a class="main-enlace main_listProducts" href="/products/productDetail/<%= producto.id %>">
                <div class="box-image-listProducts">

                  <img class="imagen-producto imagen-listProducts" src="<%= producto.imagenes[0].ubicacion%>/<%= producto.imagenes[0].nombre %>" alt="<%= producto.categoria%> <%= producto.marca%>">
                </div>
                <div class="products_list">
                  <% if (producto.descuento> 0) { %>
                    <p class="products_list_precio">$<%= producto.precio-((producto.precio*producto.descuento)/100) %>
                    </p>
                    <p class="products_list_precio-off">
                      <%= "$" +producto.precio %>
                    </p>
                    <p class="products_list_descuento">
                      <%= producto.descuento+"% OFF" %>
                    </p>
                    <% } else { %>
                      <p class="products_list_precio">$<%= producto.precio %>
                      </p>
                      <% } %>
                        <p class="products_list_marca">
                          <%= producto.marca %>
                            <%= producto.modelo %>
                </div>
              </a>
            </article>
            <% }) %>
        </article>
      </main>
      <%-include('../partials/footer.ejs') %>
  </body>

  </html>