<%- include("../partials/head") %>
<body>
    <%- include("../partials/header") %>
    
    <main class="main_productDetail">

        
       
        <section class="producto">
            <article class="fotos_producto">
                <div class="fotos_extras">
                    <i class="fa-solid fa-camera"></i>
                    <i class="fa-solid fa-camera"></i>
                    <i id="foto_extra_bkg" class="fa-solid fa-camera"></i>
                    <i id="mas_fotos" class="fa-solid fa-plus"></i>
                </div>
                    <img  class="producto_img" src="/images/<%= producto.imagen %>" alt="foto_ups"> 
                
                <div class="circulos_fotos">
                    <i id="circle_color"class="fa-solid fa-circle"></i>
                    <i class="fa-regular fa-circle"></i>
                    <i class="fa-regular fa-circle"></i>
                </div> 
                
            </article>
            

            <article class="info_producto">
                    <h3 class="nombre_producto"><%= producto.modelo %></h3>
                <div class="marca_producto">
                    <p id="marca">Marca:</p> 
                    <p><%= producto.marca %></p>
                    <h3 class="precio_producto">$<%= producto.precio %></h3>
                </div>
                
               
                
                
                <div class="unidades">
                    <i class="fa-solid fa-minus"></i>
                    <p>1 unidad</p>
                    <i class="fa-solid fa-plus"></i>
                </div>
                <div class="stock_disponible">
                    <i class="fa-solid fa-check"></i>
                    <p>Stock Disponible</p>
                </div>
               <button class="comprar_producto">Comprar Producto</button>
                <div class="agregar_carrito">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <p>Agregar al carrito</p>
                </div>
            </article>
           

        </section>

        <article class="descripcion_producto">
                <p>Descripción</p>
            <p><%= producto.descripcion %></p>
        </article>
            

        <section class="intereses">
            <p class="intereses_titulo">También podría interesarte</p>
            <article class="productos_relacionados">
                <div class="productos_relacionados_extras">
                        <img src="/images/<%= producto.imagen %>" alt="img-producto">
                        <h4><%= producto.modelo %></h4>
                        <p>$<%= producto.precio %></p>
                    </div>
                    
                    <div class="productos_relacionados_extras">
                        <img src="/images/<%= producto.imagen %>" alt="img-producto">
                        <h4><%= producto.modelo %></h4>
                        <p>$<%= producto.precio %></p>
                    </div>
                    <div class="productos_relacionados_extras">
                        <img src="/images/<%= producto.imagen %>" alt="img-producto">
                        <h4><%= producto.modelo%></h4>
                        <p>$<%= producto.precio %></p>
                    </div>
                <div class="flecha_relacionados">
                    <i class="fa-solid fa-chevron-right"></i>
                </div>
                
            </article>
        </section>

       <section class="banners_producto">
        
        <img id="img_1"  src="/images/minibanner1-10-06-22.png" alt="img_banner">
        <img id="img_2" src="/images/minibanner2-28-06-22.png" alt="img_banner">
        <img id="img_3" src="/images/minibanner3-10-06-22.png" alt="img_banner">
        
        <div class="circulos_banners">
            <i id="circle_color_banner"class="fa-solid fa-circle"></i>
            <i id="circle_color_white"class="fa-regular fa-circle"></i>
            <i id="circle_color_white"class="fa-regular fa-circle"></i>
        </div>
        </section>

    </main>
    <%- include("../partials/footer") %>
</body>
</html>