<%-include("../partials/head.ejs") %>

<body>
    <%-include("../partials/header.ejs") %>
    <main>
        <section class="main_caja_padre_compra">
            <h1 class="titulo_carrito">Carrito</h1>
            <section class="main_caja_hija_detalle_compra">
                <%productsCart.forEach(product => {%>
                <article class="fondo_de_articulo">
                    <img class="img_producto_de_compra" src="/images/<%= product.imagen %>" alt="Producto" width="100%" height="20%">
                    <p class="carrito_p-detalle-producto"><%= product.descripcion %></p>
                    <h3 class="carrito_h3-precio">$<%= product.precio %></h3>
                    <div class="div_contador">
                        <div class="div_contador_icons">
                            <div>
                                <button class="boton_sumador"><i class="fa-solid fa-plus"></i></button>
                                <input type="number" name="contador_del_producto" min="0" max="1000" class="imput_contador">
                                <button class="boton_de_resta"><i class="fa-solid fa-minus"></i></button>
                            </div>
                            <i class="fa-solid fa-trash icon_tacho"></i>
                        </div>
                        <h3 class="precio"> $ 50.000</h3>
                    </div>     
                </article>
            <%});  %>
            </section>
            <section class="main_caja_hija_detalle_articulos">
                <article class="border_de_la_caja">
                    <div>
                        <h2 class="listado_de_articulo">hay <%= productsCart.length %> artículos en su carrito</h2>
                    </div>

                    <div  class="listado_de_articulo_precios">
                        <h3 class="subtotal"> subtotal</h3>
                        <h3 class="sub-precio">$000000</h3>
                        <h3 class="transporte">transporte</h3>
                        <h3 class="condiciones">(bajo condiciones)</h3>
                        <div class="border">
                            <h3 class="total">total(IVA inc.)</h3>
                        </div>
                        <h3 class="sub-precio_1">$000000</h3>
                    </div>
                    <div>
                        <button class="boton_finalizar_compra" >finalizar compra </button>

                    </div>
                </article>    
            </section>
            <a href="/" class="boton_continuar_comprando">
                <i class="fa-solid fa-house"> </i>
                <h3>Continuar comprando</h3>
            </a>
        </section>
        <h3 class="advertencia_texto tamaño_de_texto">¡El pedido solo se confirmará al hacer click en el botón 'Pedido con
                obligación de pago' en la última
                parte del proceso de compra!
        </h3>
        <div class="centrar_el_botonon">
            <button class="boton_imprimir_pdf">Imprimir carrito en PDF</button>
        </div>
    </main>
    <%-include("../partials/footer.ejs") %>

</html>