<!-- creacion de la vista de formUpdateuser -->

<%- include('../partials/head')%>
    
<body>
        <%- include('../partials/header.ejs')%>    
    
    <main class="main_registro">
        <img src="/images/img_formulario_registro.png" alt="fomulario de registro" id="imagenFormulario">
        <div class="subtitulo_registrate">
            <p id="p_registro"><%= subtitulo %></p>
        </div>    
        <form method="POST" action="/users/profile?_method=PUT" id="form_registro" enctype="multipart/form-data">
            <div class="div_config nombre">
                <label for="nombre">Nombre</label>
                <input type="text"  name="nombre" placeholder="Nombre" value="<%= locals.usuario ? usuario.nombre : locals.old && old.nombre ? old.nombre : null %>" >
                <p><%= locals.errors&& errors.nombre ? errors.nombre.msg : null %> </p>
            </div>
            <div class="div_config nombre">
                <label for="apellido">Apellido</label>
                <input type="text"  name="apellido" placeholder="Apellido"  value="<%= locals.usuario ? usuario.apellido : locals.old && old.apellido ? old.apellido : null %>">
                <p><%= locals.errors && errors.apellido ? errors.apellido.msg : null %> </p>
            </div>
            <div class="div_config">
                <label for="domicilio">Domicilio</label>
                <input type="text"  name="domicilio" placeholder="Domicilio" value="<%= locals.usuario ? usuario.domicilio : locals.old && old.domicilio ? old.domicilio : null %>">
                <p><%= locals.errors && errors.domicilio ? errors.domicilio.msg : null %> </p>
            </div>
            <div class="div_config">
                <label for="email">Email</label>
                <input type="email"  name="email" placeholder="Email" value="<%= locals.usuario ? usuario.email: locals.old && old.email? old.email: null %>">
                <p><%= locals.errors && errors.apellido ? errors.email.msg : null %> </p>
            </div>
            <div class="div_config">
                <label for="age">Edad</label>
                <input type="number" name="age" id="age" value="<%= locals.usuario ? usuario.age : locals.oldData && oldData.age ? oldData.age : null %>">
                <p><%= locals.errors && errors.age ? errors.age.msg : null %> </p>
            </div> 
            <div class="div_config"></div>
                <label for="date">Fecha de Nacimiento</label>
                <input type="date" name="date" id="date" value="<%= locals.usuario ? usuario.date : locals.oldData && oldData.date ? oldData.date : null %>">
                <p><%= locals.errors && errors.date ? errors.date.msg : null %> </p>
            </div> 
            <div class="div_config">
            <label for="image" class="col-12 mt-3">Foto de perfil</label>
            <input type="file" class="form-control" id="inputGroupFile02" name="image">
            <p><%= locals.errors && errors.image ? errors.image.msg : null %> </p>
        </div>
            <div class="boton_registro">
                <button type="reset">Borrar</button>
                <button type="submit">Guardar Cambios</button>
            </div>           
        </form>
    </main>
    
    <%- include('../partials/footer') %>
    
</body>
</html>