<!-- creacion de la vista de formUpdateuser -->

<%- include('../partials/head')%>
    
<body>
        <%- include('../partials/header.ejs')%>    
    
    <main class="main_registro">
        <img src="/images/img_formulario_registro.png" alt="fomulario de registro" id="imagenFormulario">
        <div class="subtitulo_registrate">
            <p id="p_registro"><%= subtitulo %></p>
        </div>    
        <form method="POST" action="/users/profile?_method=PUT" id="form_registro" enctype="multipart/form-data">
            
            <div class="div_config nombre">
                <label for="nombre">Nombre</label>
                <input type="text"  name="nombre" placeholder="Nombre" value="<%= locals.usuario ? usuario.nombre : locals.old && old.nombre ? old.nombre : null %>" >
                <p><%= locals.errors&& errors.nombre ? errors.nombre.msg : null %> </p>
            </div>
            <div class="div_config nombre">
                <label for="apellido">Apellido</label>
                <input type="text"  name="apellido" placeholder="Apellido"  value="<%= locals.usuario ? usuario.apellido : locals.old && old.apellido ? old.apellido : null %>">
                <p><%= locals.errors && errors.apellido ? errors.apellido.msg : null %> </p>
            </div>
            <div class="div_config">
                <label for="telefono">Telefono</label>
                <input type="number"  name="prefijo" placeholder="Prefijo"  value="<%= locals.usuario ? usuario.prefijo : locals.old && old.prefijo ? old.prefijo : null %>">
                <p><%= locals.errors && errors.prefijo ? errors.prefijo.msg : null %> </p>
                <input type="number"  name="numero" placeholder="Numero"  value="<%= locals.usuario ? usuario.numero : locals.old && old.numero ? old.numero : null %>">
                <p><%= locals.errors && errors.numero ? errors.numero.msg : null %> </p>
            </div>
            <div class="div_config">
                <label for="domicilio">Domicilio</label>
                <input type="text"  name="nombre_calle" placeholder="Nombre Calle" value="<%= locals.usuario ? usuario.nombre_calle : locals.old && old.nombre_calle ? old.nombre_calle : null %>">
                <p><%= locals.errors && errors.nombre_calle ? errors.nombre_calle.msg : null %> </p>
                <input type="number"  name="numero_calle" placeholder="Numero Calle" value="<%= locals.usuario ? usuario.numero_calle : locals.old && old.numero_calle ? old.numero_calle : null %>">
                <p><%= locals.errors && errors.numero_calle ? errors.numero_calle.msg : null %> </p>
                <input type="number"  name="codigo_postal" placeholder="Codigo Postal" value="<%= locals.usuario ? usuario.codigo_postal : locals.old && old.codigo_postal ? old.codigo_postal : null %>">
                <p><%= locals.errors && errors.codigo_postal ? errors.codigo_postal.msg : null %> </p>
                <input type="text"  name="localidad" placeholder="Localidad" value="<%= locals.usuario ? usuario.localidad : locals.old && old.localidad ? old.localidad : null %>">
                <p><%= locals.errors && errors.localidad ? errors.localidad.msg : null %> </p>
                <input type="text"  name="provincia" placeholder="Provincia" value="<%= locals.usuario ? usuario.provincia : locals.old && old.provincia ? old.provincia : null %>">
                <p><%= locals.errors && errors.provincia ? errors.provincia.msg : null %> </p>
            </div>
            <div class="div_config">
                <label for="email">Email</label>
                <input type="email"  name="email" placeholder="Email" value="<%= locals.usuario ? usuario.email: locals.old && old.email? old.email: null %>">
                <p><%= locals.errors && errors.apellido ? errors.email.msg : null %> </p>
            </div> 
            <div class="div_config nombre">
                <label for="fecha_nacimiento">Fecha de Nacimiento</label>
                <input type="text" name="fecha_nacimiento" id="fecha_nacimiento" value="<%= locals.usuario ? usuario.fecha_nacimiento : locals.oldData && oldData.fecha_nacimiento ? oldData.fecha_nacimiento : null %>">
                <p><%= locals.errors && errors.fecha_nacimiento ? errors.fecha_nacimiento.msg : null %> </p>
            </div> 
            <div class="div_config nombre">
            <label for="imagen" class="col-12 mt-3">Foto de perfil</label>
            <input type="file" class="form-control" id="inputGroupFile02" name="imagen">
            <p><%= locals.errors && errors.imagen ? errors.imagen.msg : null %> </p>
        </div>
       
            <div class="boton_registro">
                <button type="submit">Guardar Cambios</button>
            </div>           
        </form>
    </main>
    
    <%- include('../partials/footer') %>
    
</body>
</html>