<%- include('../partials/head') %>
<body>
    <%- include('../partials/header.ejs') %>
    <main class="main_registro">
        <img src="/images/img_formulario_registro.png" alt="formulario de registro" id="imagenFormulario">
        <div class="subtitulo_registrate">
            <p id="p_registro"><%= subtitulo %></p>
        </div>
        <form method="POST" action="/users/profile?_method=PUT" id="form_registro" enctype="multipart/form-data">
            <div class="div_config nombre">
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" placeholder="Nombre" value="<%= usuario.nombre %>">
                <p><%= locals.errors && errors.nombre ? errors.nombre.msg : null %></p>
            </div>
            <div class="div_config nombre">
                <label for="apellido">Apellido</label>
                <input type="text" name="apellido" placeholder="Apellido" value="<%= usuario.apellido %>">
                <p><%= locals.errors && errors.apellido ? errors.apellido.msg : null %></p>
            </div>
            <div class="div_config">
                <label for="domicilio">Domicilio</label>
                <input type="text" name="domicilio" placeholder="Domicilio" value="<%= usuario.domicilio %>">
                <p><%= locals.errors && errors.domicilio ? errors.domicilio.msg : null %></p>
            </div>
            <div class="div_config">
                <label for="email">Email</label>
                <input type="email" name="email" placeholder="Email" value="<%= usuario.email %>">
                <p><%= locals.errors && errors.email ? errors.email.msg : null %></p>
            </div>
            <div class="div_config">
                <label for="categoria">Categoría</label>
                <select name="categoria" id="categoria" class="campo_select">
                    <option value="supervisor" <%= usuario.categoria === "supervisor" ? "selected" : "" %>>Supervisor</option>
                    <option value="vendedor" <%= usuario.categoria === "vendedor" ? "selected" : "" %>>Vendedor</option>
                </select>
                <p><%= locals.errors && errors.categoria ? errors.categoria.msg : null %></p>
            </div>
            <div class="div_config">
                <label for="age">Edad</label>
                <input type="number" name="age" id="age" value="<%= usuario.age %>">
                <p><%= locals.errors && errors.age ? errors.age.msg : null %></p>
            </div>
            <div class="div_config">
                <label for="date">Fecha de Nacimiento</label>
                <input type="date" name="date" id="date" value="<%= usuario.fecha_nacimiento.toISOString().split('T')[0] %>">
                <p><%= locals.errors && errors.date ? errors.date.msg : null %></p>
            </div>
            <div class="div_config">
                <label for="image" class="col-12 mt-3">Foto de perfil</label>
                <input type="file" class="form-control" id="inputGroupFile02" name="image">
                <p><%= locals.errors && errors.image ? errors.image.msg : null %></p>
            </div>
            <div class="boton_registro">
                <button type="submit">Guardar Cambios</button>
            </div>
        </form>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>
