<%- include('../partials/head') %>
<body>
    <%- include('../partials/header.ejs') %>
    <main class="main_registro">
        <img src="/images/img_formulario_registro.png" alt="formulario de registro" id="imagenFormulario">
        <div class="subtitulo_registrate">
            <p id="p_registro"><%= subtitulo %></p>
        </div>
        <form method="POST" action="/users/profile?_method=PUT" id="form_registro" enctype="multipart/form-data">
            
            <div class="div_config nombre">
                <label for="nombre">Nombre</label>
                <input type="text"  name="nombre" placeholder="Nombre" value="<%= locals.old && old.nombre ? old.nombre : locals.usuario ? usuario.nombre : null %>" >
                <p><%= locals.errors && errors.nombre ? errors.nombre.msg : null %> </p>
            </div>
            <div class="div_config nombre">
                <label for="apellido">Apellido</label>
                <input type="text" name="apellido" placeholder="Apellido" value="<%= locals.old && old.apellido ? old.apellido : locals.usuario ? usuario.apellido : null %>">
                <p><%= locals.errors && errors.apellido ? errors.apellido.msg : null %></p>
            </div>

            <div class="div_config">
                <label for="telefono">Telefono</label>
                <input type="text"  name="prefijo" placeholder="Prefijo"  value="<%= locals.old && old.prefijo ? old.prefijo : locals.usuario && usuario.telefonos.length > 0 ? usuario.telefonos[0].prefijo : null %>">
                <p><%= locals.errors && errors.prefijo ? errors.prefijo.msg : null %> </p>
                <input type="text"  name="numero" placeholder="Numero"  value="<%= locals.old && old.numero ? old.numero : locals.usuario && usuario.telefonos.length > 0 ? usuario.telefonos[0].numero : null %>">
                <p><%= locals.errors && errors.numero ? errors.numero.msg : null %> </p>
            </div>

            <div class="div_config">
                <label for="domicilio">Domicilio</label>
                <input type="text"  name="nombre_calle" placeholder="Nombre Calle" value="<%= locals.old && old.nombre_calle ? old.nombre_calle : locals.usuario && usuario.direcciones[0].nombre_calle ? usuario.direcciones[0].nombre_calle : null %>">
                <p><%= locals.errors && errors.nombre_calle ? errors.nombre_calle.msg : null %> </p>
                <input type="number"  name="numero_calle" placeholder="Numero Calle" value="<%= locals.old && old.numero_calle ? old.numero_calle : locals.usuario && usuario.direcciones[0].numero_calle ? usuario.direcciones[0].numero_calle : null %>">
                <p><%= locals.errors && errors.numero_calle ? errors.numero_calle.msg : null %> </p>
                <input type="number"  name="codigo_postal" placeholder="Codigo Postal" value="<%= locals.old && old.codigo_postal ? old.codigo_postal : locals.usuario && usuario.direcciones[0].codigo_postal ? usuario.direcciones[0].codigo_postal : null %>">
                <p><%= locals.errors && errors.codigo_postal ? errors.codigo_postal.msg : null %> </p>
                <input type="text"  name="localidad" placeholder="Localidad" value="<%= locals.old && old.localidad ? old.localidad : locals.usuario && usuario.direcciones[0].localidad ? usuario.direcciones[0].localidad : null %>">
                <p><%= locals.errors && errors.localidad ? errors.localidad.msg : null %> </p>
                <input type="text"  name="provincia" placeholder="Provincia" value="<%= locals.old && old.provincia ? old.provincia : locals.usuario && usuario.direcciones[0].provincia ? usuario.direcciones[0].provincia : null %>">
                <p><%= locals.errors && errors.provincia ? errors.provincia.msg : null %> </p>
            </div>
            
            <div class="div_config">
                <label for="fecha_nacimiento">Fecha de Nacimiento</label>
                <input type="text" name="fecha_nacimiento" id="fecha_nacimiento" value="<%= locals.old && old.fecha_nacimiento ? old.fecha_nacimiento : locals.usuario ? usuario.fecha_nacimiento : null %>">
                <p><%= locals.errors && errors.fecha_nacimiento ? errors.fecha_nacimiento.msg : null %> </p>
            </div>
            <div class="div_config">
                <label for="email">Email</label>
                <input type="email"  name="email" placeholder="Email" value="<%= locals.old && old.email? old.email : locals.usuario ? usuario.email : null %>">
                <p><%= locals.errors && errors.apellido ? errors.email.msg : null %> </p>
            </div>
           
        </div>
        
        
            <div class="boton_registro">
                <button type="submit">Guardar Cambios</button>
            </div>
        </form>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>
