<%- include('../partials/head')%>
    
<body>
        <%- include('../partials/header.ejs')%>    
    <% if(locals.usuario) {%>
        <main class="main_perfil-user">
            <section class="section_izq_perfil-user">
                <a href="/users/perfilUser">
                    <div class="div_enlaces_perfil-user">
                        <i class="fa-solid fa-user"></i>
                        <p>Mi cuenta</p>
                    </div>
                </a>
                <a href="/products/productCart">
                    <div class="div_enlaces_perfil-user">
                        <i class="fa-solid fa-bag-shopping"></i>
                        <p>Mis compras</p>
                    </div>
                </a>
                <a href="/users/profile">
                    <div class="div_enlaces_perfil-user">
                        <i class="fa-solid fa-user-pen"></i>
                        <p>Editar perfil</p>
                    </div>
                </a>
                <a href="/users/logout">
                    <div class="div_enlaces_perfil-user">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <p>Salir</p>
                    </div>
                </a>
            </section>
            <section class="section_der_perfil-user">
                <div class="div_miPerfil">
                    <p>Mi perfil</p>
                    <img src="<%= usuario.imagen %>" alt="Avatar-Usuario">
                </div>
                <article class="section_der_article_perfil-user">
                    <% if (usuario.nombre) { %>
                        <div>
                            <p class="div_p_titulos_perfil-user">Nombre</p>
                            <p class="div_p_subtitulos_perfil-user"><%= usuario.nombre %></p>
                        </div>
                    <%  } %>
                    <% if (usuario.apellido) { %>
                        <div>
                            <p class="div_p_titulos_perfil-user">Apellido</p>
                            <p class="div_p_subtitulos_perfil-user"><%= usuario.apellido %></p>
                        </div>
                    <%  } %>
                    <% if (usuario.direcciones) { %>
                        <div>
                            <p class="div_p_titulos_perfil-user">Domicilio</p>
                            <% for(x=0; x<usuario.direcciones.length; x=usuario.direcciones.length) { %>
                                <p class="div_p_subtitulos_perfil-user"><%= usuario.direcciones[0].nombre_calle %> <%= usuario.direcciones[0].numero_calle %></p>
                              <% } %>
                        </div>
                    <%  } %>
                    <% if (usuario.email) { %>
                        <div>
                            <p class="div_p_titulos_perfil-user">E-mail</p>
                            <p class="div_p_subtitulos_perfil-user"><%= usuario.email %></p>
                        </div>
                    <%  } %>
                    <% if (usuario.fecha_nacimiento) { %>
                        <div>
                            <p class="div_p_titulos_perfil-user">Fecha de Nacimiento</p>
                            <p class="div_p_subtitulos_perfil-user"><%= usuario.fecha_nacimiento %></p>
                        </div>
                    <%  } %>
                </article>
            </section>
        </main>
        <% } %>
    
        <%- include('../partials/footer') %>
    
</body>
</html>