<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
      <div class="dashboard_box_search-add">
        <a href="/products"><button class="dashboard_add">List Products</button></a>
        <div class="dashboard_search">
            <form action="/products/dashboard/search" method="GET">
                <input type="text" name="keywords" placeholder="Buscar producto por Marca">
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
        <a href="/products/formCreate"><button class="dashboard_add">+ Agregar Producto</button></a>
    </div>
        <article class="container-articulos">
            <% usuarios.forEach(usuario => { %>
              <% if (usuario.roles.id !== 1){%>
              <article class="article_productos article_listProducts">
                <div class="box-image-listProducts"><img class="imagen-producto imagen-listProducts" src="<%= usuario.imagen %>" alt="foto-usuario"></div>
                <div class="products_list">
                  <p>Nombre: <%= usuario.nombre %></p>
                  <p>Apellido: <%= usuario.apellido %></p>
                  <p>Email: <%= usuario.email %></p>
                  <p>Rol: <%= usuario.roles.rol %></p>
                  <p>Fecha de nacimiento <%=usuario.fecha_nacimiento%></p>
                  <p>Direccion <%= usuario.direcciones[0].nombre_calle %> <%= usuario.direcciones[0].numero_calle %></p> 
                  <% if(usuario.telefonos.length > 0){%>
                    <p>Telefono <%= usuario.telefonos[0].prefijo%> <%= usuario.telefonos[0].numero%></p> 
                  <% }%>
                </div>
                <div class="dashboard_div_botones">
                  <a href="/users/formUpdateAdmin/<%= usuario.id %>"><button>Modificar</button></a>
              </div>
              </article>
              <%} %>
            <% }) %>
          </article>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>
